* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}
h2{
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}
p{
  font-size: 1rem;
  line-height: 1.25rem;
  
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;

}
.card{
  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 5px;
  max-width: 29.375rem;
  max-height: 20rem;
  margin-bottom: 10px;
  overflow: auto;
  overflow-wrap: break-word;
  padding:1rem;
}
.card:nth-child(6){
  order: -1;
}
.image{
   padding-right: 1.25remx;
}
.image img{
  max-width: 9.375rem;
  padding-right: 1.25rem;
}
.image__rammi{
  display: flex;
  align-items: flex-start;
}
.list{
  padding-top: 1rem;
  display: flex;
  list-style:none;
  font-weight: bold;
}

