* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}
.cards{
  justify-content: space-around;
}
.card{
  color: #fff;
  border: 2px solid #aaa;
  border-radius: 5px;
  max-width: 20rem;
  max-height: 29.375rem;
}